
    <div class="col-6">
        <label for="floatingInput">Payment Amount</label>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" value="" placeholder="Payment Amount" name="amount">
        </div>
    </div>


    <div class="col-6">
        <label for="floatingInput">Student ID</label>
        <div class="form-floating mb-3">
            <select id="floatingInput" class="form-control" name="student_id">
                
                <option value="">Select a Student ID</option> 
                <% student_ids.forEach(element => { %>
                <option value=<%=element.Student_ID%>><%=element.Student_ID%> - <%=element.First_Name%> <%=element.Last_Name%></option> 
                <% }); %>
                
            </select>
        </div>
    </div>

    <div class="col-6">
        <label for="floatingInput">Payment Method</label>
        <div class="form-floating mb-3">
            <select id="floatingInput" class="form-control" name="method">
                <option value="">Select a Payment Method</option>
                <option value="Cash">Cash</option> 
                <option value="Check">Check</option>
                <option value="Card">Card</option>
                <option value="ACH">ACH</option>
                <option value="Wire">Wire</option>
            </select>
        </div>
    </div>



    <div class="col-6">
        <label for="floatingInput">Date</label>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingInput" value="" name="date">
        </div>
    </div>

    <div class="col-6">
        <label for="floatingInput">Course ID</label>
        <div class="form-floating mb-3">
            
            <select id="floatingInput" class="form-control" name="course_id">

                <option value="">Select a Course ID</option> 

                <% course_ids.forEach(element => { %>
                <option value=<%=element.Course_ID%>><%=element.Course_ID%> - <%=element.Name%></option> 
                <% }); %>

            </select>
        </div>
    </div>

    <div class="">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>