<%- include('partials/payments-search') %>

<br>

<div class="row">
  <div class="col-6"><h1>Payments</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/paymentAdd" type="button" class="btn btn-primary align-self-center">Record Payment</a>
  </div>


</div>


<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Pay ID</th>
      <th scope="col">Student ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Pay Method</th>
      <th scope="col">Date</th>
      <th scope="col">Course ID</th>
      <th scope="col" class="text-left">Action</th>
    </tr>
  </thead>
  <tbody>

    <% rows.forEach(element => { %>
    <tr>
      <th scope="row"><%= element.Pay_ID %></th>
      <td><%= element.Student_ID %></td>
      <td><%= element.First_Name %></td>
      <td><%= element.Last_Name %></td>
      <td><%= element.Amount %></td>
      <td><%= element.Method %></td>
      <td><%= new Date(element.Date).toISOString().slice(0, 10); %></td>
      <td><%= element.Course_ID %></td>
      <td class="text-left">
          <a href="/paymentEdit/<%=element.Pay_ID%>" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Edit </a>
          <a href="/payments/<%=element.Pay_ID%>" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Delete </a>
      </td>
    </tr>
    <% }); %>

  </tbody>
</table>