
    <form class=" row g-3" action="/students/search" method="GET">
            <legend>Search</legend>
          <div class="col form-floating">
            <input class="form-control" type="text" name="searchID" required>
            <label for="searchID">Student ID</label>
          </div>
          <div class="col">
            <button class="btn btn-outline-dark" type="submit">Find By ID</button>
          </div>
      </form>
    

<div class="row">
        <div class="col-6"><h1>Students</h1></div>
        <div class="col-6 d-flex justify-content-end">
          <a href="/students/add" type="button" class="btn btn-primary align-self-center">Add Student</a>
        </div>
      
      
      </div>
      
<div>
    <table class="table">
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <%
        if (userData.length != 0){
            userData.forEach(function(data){
            %>
                <tr>
                    <td><%=data.Student_ID %></td>
                    <td><%=data.First_Name %></td>
                    <td><%=data.Last_Name %></td>
                    <td><%=data.Email %></td>
                    <td><%=data.Phone %></td>
                    <td><%=data.Street %> <%=data.City %> <%=data.State %> <%=data.Zip %> <%=data.Country %></td>
                    <td>
                        <form method="GET" action="/students/edit/<%= data.Student_ID %>">
                            <button class="btn btn-info btn-sm" type="submit">Edit </button>
                        </form>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm delStudentButton" type="submit" value="<%=data.Student_ID %>" onclick="deleteStudent(this.value)"> X </button>
                    </td>
                </tr>
            
            <% }) %>
<%         } %>
        
    </table>

    
    <script type="text/javascript" src="../js/students.js"></script>

<%- include('partials/footer'); %>