<!DOCTYPE html>
<html lang="en">
    <div class="row">
        <div class="col-6"><h1>Students</h1></div>
        <div class="col-6 d-flex justify-content-end">
          <a href="/students/add" type="button" class="btn btn-primary align-self-center">Add Student</a>
        </div>
      
      
      </div>
      
<div>
    <table class="table">
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <%
        if (userData.length != 0){
            userData.forEach(function(data){
            %>
                <tr>
                    <td><%=data.Student_ID %></td>
                    <td><%=data.First_Name %></td>
                    <td><%=data.Last_Name %></td>
                    <td><%=data.Email %></td>
                    <td><%=data.Phone %></td>
                    <td><%=data.Street %> <%=data.City %> <%=data.State %> <%=data.Zip %> <%=data.Country %></td>
                    <td>
                        <form method="GET" action="/students/edit/<%= data.Student_ID %>">
                            <button class="btn btn-info btn-sm" type="submit">Edit </button>
                        </form>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm delStudentButton" type="submit" value="<%=data.Student_ID %>" onclick="deleteStudent(this.value)"> X </button>
                    </td>
                </tr>
            
            <% }) %>
<%         } %>
        
    </table>

    <div>
        <h2>Quick Search</h2>
        <h3>Filter Enrollments based on Student information</h3>
        <div>
            <form class="" action="/students/search" method="GET">
                <fieldset>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="searchID">Enter Student ID</label>
                            <input class="form-control" type="text" name="searchID" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <button class="btn btn-primary btn-md" type="submit">Find By ID</button>
                        </div>
                        <!--JS coding is required for data validation as html is not sufficient-->
                    
                    <br>
                    
                    </div>
                    
                </fieldset>
            </form>
        </div>
    </div>
    
    <script type="text/javascript" src="../js/students.js"></script>

<%- include('partials/footer'); %>