<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
    <%- include('partials/header'); %>
    <!-- Replace Sample Student Information with ejs links once implemented-->
    <h1> Sample Student</h1>
    <h3>This page is for editing the current student</h3>
    <div>
        <table>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Delete</th>
            </tr>
            <%
            if (userData.length != 0){
                userData.forEach(function(data){
                %>
                    <tr>
                        <td><%=data.Student_ID %></td>
                        <td><%=data.First_Name %></td>
                        <td><%=data.Last_Name %></td>
                        <td><%=data.Email %></td>
                        <td><%=data.Phone %></td>
                        <td><%=data.Street %> <%=data.City %> <%=data.State %> <%=data.Zip %> <%=data.Country %></td>

                        <td>
                            <form action="/students/:studentID" method="DELETE"></form>
                            <button class="btn btn-danger btn-sm" type="submit"> X </button>
                        </td>
                    </tr>
                
                <% }) %>
    <%         } %>
            
        </table>
    </div>

    <div>
        <table>
            <tr>
                <th>Courses</th>
            </tr>
            <%
            if (userData.length != 0){
                userData.forEach(function(data){
                %>
                    <tr></tr>
                
                <% }) %>
    <%         } %>
            
        </table>
    </div>


    
    <form action ="/students" method="PUT">
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Jane" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="sample@email.com" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="phone">Phone</label>
              <input type="number" class="form-control" id="phone" name="phone" placeholder="5551234567" required>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="streetAddress">Street Adrress</label>
                <input type="text" class="form-control" id="streetAddress" name="streetAddress" placeholder="Street Address" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="zip">Zip Code</label>
                <input type="text" class="form-control" id="zip" name="zip" placeholder="12345" required>
            </div>
        </div>  
        <button class="btn btn-primary btn-sm" type="submit">Update</button>
    </form> 
    <%- include('partials/footer'); %>